body {
    background-color:  #006BB6;
}

ul {

    
    margin: 0;

    overflow: hidden;
    background-color: black;
 
  }
  
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    padding: 30px 10px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
    
    font-family: 'Graduate', cursive;
    
    font-weight: bold;
  }
  

.blogname {
    color: #006BB6;
    font-family: 'Graduate', cursive;
    background-color: black;
    font-size: 40px;
    
}

.orange {
    color: #F58426;
}

a:link {
    color: #006BB6;
}

a:visited {
    color: #006BB6;
}

a:hover {
    color: #F58426;
}

a:active {
    color: #F58426;
}

.body {
    width: 100%;
    height:200%;
    background-color: #BEC0C2;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #006BB6;
    text-align: center;
    font-family: 'Graduate', cursive;
    font-size: 30px;
    padding-top: 2%;
    
    
}

.paragraph {
    color: black;
}

.footer {
    background-color: black;
    color: #F58426;
    text-align: center;
    font-family: 'Graduate', cursive;
    font-size: 20px;

}

.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
}

.me {
    width: 300px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border:5px solid #006BB6;
}



.question {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;

}

.intro {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

.speech {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}

.nyk {
    width: 256px;
    height: 360;
    border: 0;
}



